.selfBtn {
    width: 100%;
    font-size: 16px;
    color: wheat;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #234668;
    cursor: pointer;
    margin: 5px;
}

.selfBtn:hover {
    background-color: #555e7d;
}

.selfBtn:disabled {
    background-color: #555e7d;
    color: #f5f5f5;
    cursor: not-allowed;
}
